*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(154, 154, 154);
}

body {
    /* background-color: rgb(154, 154, 154); */
    font-family: sans-serif;
}

canvas {
    display: block;      
    max-width: 100%;      
    height: auto;         
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.camera-div {
    width: 80%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
}

.content {
    margin-top: 10px;
    text-align: center;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.result {
    font-size: 20px;
    font-weight: bold;
}
.cameraList{
    font-size: 15px;
    margin: 10px 0;
}
.log, .tmp {
    font-size: 14px;
    margin-top: 10px;
    color: #f0f0f0;
}

@media (max-width: 768px) {

    .main {
        padding: 10px;
    }

    .camera-div {
        width: 100%;
        aspect-ratio: 4/4;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
        width: 90%;
    }

    .result {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
     .camera-div {
        width: 100%;
        aspect-ratio: 4 / 5; 
    }

    button {
        font-size: 14px;
        padding: 6px 12px;
        width: 100%;
    }

    .result {
        font-size: 1rem;
    }

    #log, #tmp {
        font-size: 0.75rem;
    }
}